@import "../../App.scss";

.overlay-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  z-index: 1000;
}

.product-details-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 4px;
  padding: 36px 24px;
  width: 90%;
  max-width: 920px;
  max-height: 90vh; 
}

.modal-close-btn {
  position: absolute;
  right: -12px;
  top: -12px;
  width: 24px;
  height: 24px;
  background-color: $clr-dark;
  color: $clr-white;
  transition: $transition;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $clr-gold;
  }

  i {
    font-size: 12px
  }
}

.details-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.details-left {
  img {
    max-height: 80vh; 
    object-fit: cover;
  }

  &__image-selector {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 4px;
    cursor: pointer;
  }
}

.details-info {
  .title {
    font-size: 22px; 
  }

  .description {
    margin: 6px 0 12px 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }

  .price {
    font-size: 24px;
  }

  .qty {
    font-size: 16px;
  }
}

.add-to-cart-btn {
  font-size: 16px; 
}

/* Media query for mobile screens */
@media (max-width: 480px) {
  .product-details-modal {
    padding: 16px 12px;
    width: 100%;
    height: auto; 
    max-height: 90vh; 
    overflow-y: auto; 
  }

  .modal-close-btn {
    width: 16px;
    height: 16px;

    i {
      font-size: 10px;
    }
  }

  .details-content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .details-left {
    img {
      max-height: 40vh; 
    }
  }

  .details-info {
    .title {
      font-size: 16px; 
    }

    .description {
      font-size: 12px;
      margin: 4px 0 8px 0; 
    }

    .price {
      font-size: 18px; 
    }

    .qty {
      font-size: 12px; 
    }
  }

  .add-to-cart-btn {
    font-size: 12px; 
  }
}
